@{
    ViewData["Title"] = "Подробности";
}
@model CRM.Models.Client

@if(Model != null)
{
<h2>@Model.Name</h2>
<form asp-action="Delete" asp-route-id="@Model.Id" method="post">
        @Html.AntiForgeryToken()
    <button type="submit">Удалить</button>
</form>

<h4>Сделки</h4>
<table>
    @foreach (var deal in Model.Deals)
    {
        <tr>
            <td>@deal.Amount.ToString("C")</td>
            <td>@(deal.Status?.Name ?? "Без статуса")</td> <!-- Защита от null -->
        </tr>
    }
</table>

<h4>Взаимодействия</h4>
<table>
    @foreach (var interaction in Model.Interactions)
    {
        <tr>
            <td>@interaction.Date</td>
            <td>@interaction.Type</td>
        </tr>
        <tr>
            @interaction.Notes
        </tr>
    }
    </table>
}
else
{
    <h2>Нет такого клиента</h2>
}

@if (TempData["ErrorMessage"] != null)
{
    <div>
        @TempData["ErrorMessage"]
    </div>
}
